@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-weight: 400;
  src: local('Open Sans'),
    url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-weight: 600;
  src: local('Open Sans'),
    url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'),
    url('../fonts/open-sans-v34-latin-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-weight: 700;
  src: local('Raleway'),
    url('../fonts/raleway-v28-latin-700.woff2') format('woff2'),
    url('../fonts/raleway-v28-latin-700.woff') format('woff');
}

:root {
  --color-primary: #555;
  --color-primary-dark: #303030;
  --color-primary-inverted: #fff;
  --color-secondary: #9da4bd;
  --color-secondary-transparent: rgba(157, 164, 189, 0.6);
  --color-brand: #ff6c00;
  --color-background-primary: #fff;
  --color-background-secondary: #f7f7f7;
}

/* Base */
html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.85;
  background-color: var(--color-background-primary);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.header {
  background-color: #555; /* remove */
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 70px;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-link {
  color: var(--color-primary-inverted);
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-brand);
}

.button-light {
  padding: 12px 20px;
  color: var(--color-primary-inverted);
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--color-brand);
  border-radius: 25px;
  cursor: pointer;
}

.button-light:hover {
  background-color: var(--color-brand);
}

/* Hero section */
.hero-section {
  padding-top: 192px;
  padding-bottom: 206px;
  background-color: var(--color-background-secondary);
  background-image: url('../images/man-haircut.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-socials-link {
  color: var(--color-primary);
  text-decoration: none;
}

.socials-link:hover {
  color: var(--color-brand);
}

.hero-title {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  color: var(--color-primary-inverted);
  font-size: 72px;
  line-height: 1.16;
  font-weight: 700;
}

.hero-text {
  color: var(--color-secondary);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.carousel-button {
  color: var(--color-primary-inverted);
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}

.carousel-button[disabled] {
  color: var(--color-secondary-transparent);
  cursor: not-allowed;
}

/* Section */
.section {
  padding: 130px 0;
}

.section-tagline {
  margin-bottom: 20px;
  color: var(--color-primary-dark);
  font-size: 11px;
  line-height: 1.36;
  font-weight: 600;
  text-transform: uppercase;
}

.section-tagline-light {
  color: var(--color-secondary-transparent);
}

.section-title {
  font-family: 'Raleway', sans-serif;
  color: var(--color-primary-dark);
  font-size: 42px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.section-title-light {
  color: var(--color-primary-inverted);
}

/* About section */
.about-container {
  display: flex;
  gap: 64px;
}

.about-images {
  display: flex;
  gap: 30px;
}

/* Prices section */
.services-section {
  background-color: black;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  margin-bottom: 20px;
}

.services-item {
  flex-basis: calc(100% / 2);
  padding: 10px 40px;
}

.services-action {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-name {
  margin-bottom: 0;
}

/* Masters section */
.masters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.masters-item {
  flex-basis: calc((100% - 60px) / 3);
}

.master {
  text-align: center;
}

/* Achivements section */
.achivements-section {
  padding-right: 75px;
  padding-left: 100px;
}

.achivements-container {
  display: flex;
  gap: 130px;
}

.achivements-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 330px;
}

.achivements-item {
  flex-basis: calc((100% - 30px) / 2);
}

.achivements-title {
  max-width: 420px;
}

.point {
  padding: 20px 24px;
  background-color: var(--color-background-secondary);
}

.point-text {
  margin: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.35;
  text-align: center;
}

.point-number {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
}

/* Masters section */
.masters-section {
  background-color: var(--color-background-secondary);
}

/* Socials */
.socials-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: var(--color-primary-dark);
  background-color: var(--color-primary-inverted);
  border-radius: 50%;
}

.socials-link:hover {
  fill: var(--color-brand);
}

.socials-icon {
  width: 20px;
  height: 20px;
}
